body {
    background-color: rgb(160, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-color: rgb(133, 121, 14);
    border-style: dotted none none none;
    border-width: 5px;
    width: 40%;
}

table {
    text-align: left;
}

h1 {
    font-size: 55px;
    color: rgb(75, 15, 75);
}

.par {
    color: chocolate;
    font-size: 25px;
}

.lin {
    color: rgb(84, 43, 14);
    font-size: 20px;
}